<h3>Paste your token below:</h3>

{{one-way-textarea 
  token
  update=(action "updatedToken")
  classNames="jwt-input"}}

{{#unless error}}
  {{#if jwt}}
  <h3>Payload:</h3>
  <div class="result">
    {{pretty-print jwt}}
  </div>
  {{/if}}
{{else}}
  <div class="error">
  ** {{error}} **
  </div>
{{/unless}}
